.heading_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.heading_title {
    color: #000000;
    text-align: center;

    /* Title/36 */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.41px;
    margin-bottom: 6px;
}

.heading_text {
    color: rgba(0, 0, 0, 0.64);
    text-align: center;

    /* Title/22 */
    margin-top: 6px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.41px;
}

@media only screen and (max-width: 768px) {
    .heading_container {
        margin-top: 0px;
    }
    
    .heading_title {
        font-size: 28px;
    }
    
    .heading_text {
        margin-top: 0px;
        font-size: 18px;
    }
}