@keyframes gradientAnimation {
    0% {
        opacity: .85;
    }
    100% {
        opacity: 1;
    }
}

.card {
    height: 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px;
    padding: 14px 20px 18px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    align-self: stretch;
    color: #FFFFFF;
    font-family: Public Sans sans-serif;
    user-select: none;
    cursor: pointer;
    animation-duration: 1s;
    animation-name: gradientAnimation;
    animation-timing-function: ease-out;
}

.card__skeleton {
    height: 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px;
    background: #00000014;
    padding: 14px 20px 18px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    align-self: stretch;
    color: #FFFFFF;
    font-family: Public Sans sans-serif;
    transition: background-color 0.5s ease;
    user-select: none;
    cursor: pointer;
}

.card__title {
    /* Title/29 */

    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.41px;
}

.card__time {
    justify-self: end;
    display: flex;
}

.card__time__item {
    font-size: 36px;
    font-style: normal;
    margin-right: 8px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.41px;
    transition: .5s;
}

.card__time__item__24h {
    margin-right: 30px;
}

.card__time__item__am {
    margin-right: 8px;
}

.card__am {
    position: relative;
    top: -14px;
    font-size: 14px;
    font-style: normal;
    margin-top: 5px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.41px;
    height: 14px;
}


.card__timezone {
    color: #FFFFFFB8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;
}

.time__format {
    color: #FFFFFF;
    text-align: right;

    /* Text/14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.41px;
}

.card__date {
    justify-self: end;
    color: #FFFFFFB8;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;
    display: flex;
    margin-right: 30px;
}

.card__close {
    position: relative;
    top: -89px;
    left: 525px;
    padding: 20px;
}

.card__drag {
    position: relative;
    top: -49px;
    padding: 20px;
    left: 267px;
}

.card__controls__invisible {
    visibility: hidden;
}

.card__controls__visible {
    visibility: visible;
}