.navBarContainer {
    width: 80%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navBarContainerSecondaryItems {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.navLink {
    text-decoration: none;
    color: #000000A3;
}

.navLink:visited {
    text-decoration: none;
}

.navLink:hover {
    background: #00000024;
    border-radius: 20px;
}

.navLink:active {
    text-decoration: none;
}

.navBarItem {
    height: 44px;
    background: #00000014;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.active {
    background: #000000;
    color: #FFFFFF;
}