.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.slider__background {
    cursor: move;
    margin-top: 8px;
    background: url("../../../../public/assets/Hour.svg") repeat-x;
    width: 500vw;
    height: 48px;
}

