.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.slider__background {
    cursor: move;
    margin-top: 10px;
    background: url("../../../../public/assets/Hour.svg") repeat-x;
    width: 500vw;
    height: 50px;
}

.slider__timer {
    display: flex;
    padding: 4px 4px 4px 6px;
    justify-content: center;
    align-items: center;
    color: #000000A3;
    background: #00000014;
    border-radius: 12px;
}

.slider__text {
    color: rgba(0, 0, 0, 0.64);
    /* Text/14 */
    font-family: Public Sans sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.41px;
    margin-right: 6px;
}

.slider__image {
    cursor: pointer;
}