.card {
    height: 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px;
    padding: 14px 20px 18px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    align-self: stretch;
    background: rgba(0, 0, 0, 0.08);
    color: #000000;
    font-family: Public Sans sans-serif;
    transition: 1s;
    user-select: none;
    cursor: pointer;
}

.card__title {
    /* Title/29 */
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}

.card__time {
    justify-self: end;
    display: flex;
}

.card__time__item {
    color: #000000;
    /* Title/28 */
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.41px;
}

.card__am {
    position: relative;
    margin-left: 6px;
    top: -16px;
    font-size: 14px;
    font-style: normal;
    margin-top: 5px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.41px;
    height: 14px;
}

.card__time__scroll {
    border-radius: 15px;
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 2/3;
    height: 40px;
    color: black;
    background: #d9d9d9;
}