.container {
  margin: auto;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 36%;
  min-width: 320px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 76%;
    margin-top: 0; /* или меньше, если нужно */
  }
}