.container {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 36%;
    min-width: 320px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
        margin-bottom: 106px;
  }
}