.button {
    cursor: pointer;
    flex: 1 0 0;
    height: 48px;
    border-radius: 12px;
    padding: 14px;
    border: none;
    background: #00000014;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 16px 0 0 ;
}

.button:hover {
    background: #00000024;
    border-radius: 12px;
}
