.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0000003D;
    z-index: 999999;
}


.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: flex;
    width: 420px;
    height: 50%;
    padding: 0 16px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    z-index: 999999;
    border-radius: 20px;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 0 32px 56px rgba(0, 0, 0, 0.16);
    animation: moveUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


.modal__title {
    display: flex;
    flex-direction: row;
    color: #000000;
    width: 100%;
    padding: 16px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.08px;
}

.out {
    animation: moveDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal__title__text {
    width: 100%;
    text-align: center;
}

.modal__title__image {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

@media only screen and (max-width: 768px) {
        .modal__container {
            top: 50%;
            height: 70%;
            width: 90%!important;
    }
}

@keyframes moveUp {
    0% {
        transform:translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -50%)
    }
}

