.switch {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    flex-direction: row;
    height: 48px;
    border-radius: 12px;
    color: #000000A3;
    background: #00000014;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    gap: 5px;
    padding: 16px 10px;
}


.tab {
    padding-left: 10px;
    padding-right: 10px;
}

.tab__active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #FFFFFF;
    color: #000000;
    border-radius: 7px;
    animation-duration: 3s;
    animation-name: slide;
    padding-left: 10px;
    padding-right: 10px;
    transition: padding-left .1s linear, padding-right .1s linear;
}


@keyframes slide {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 0;
    }
}