.tab {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.tab-side {
    display: flex;
    padding: 10.5px 11px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}